<a href="https://colab.research.google.com/github/19pa1a0442/gandhamcharishmaradhika/blob/master/momdad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a=50
b=60
if(a>b):
  print("a is greater")
else:
  print("b is greater")

b is greater

In [6]:
a=10
if(a%2==0):
  print("even number")
else:
  print("not an even number")

even number

In [7]:
b=100
for i in range(1,b+1,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [8]:
n=100
for i in range(0,n+1,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [10]:
a=50
for i in range(0,a+1,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50